
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-most-box-sizing:border-box;
	box-sizing: border-box;
}
body ul li a:hover {
	transition: all .3s;
	list-style: none;
	background-color: black;
	color: white;
	font-style: italic;
	font-size:150%;
}
.navegacion {
	width: 1000px;
	margin: 30px auto;

}
.navegacion ul{
	list-style: none;
}
.menu > li{
	/*position: relative;*/
	display: inline-block;
  }
.menu > li > a {
	display: block;
	padding: 15px 20px;
	font-family: 'open sans';
	text-decoration: none;
}
.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}
.menu

#table1:{ 

	background-color: green;
	color: black;
	border-radius:10%;
	width:50% ;
	height:50%;
	border-color:black;
	background-color:black;
	 }